.nav-side {
  float: left;
  width: 130px;
  min-height: 100px;
}
.nav-side .nav-item {
  height: 25px;
  line-height: 25px;
  font-size: 14px;
}
.nav-side .nav-item .link {
   color: #888;
}
.nav-side .nav-item.active .link {
    color: #c60023;
 }
.content.width-nav {
  float: left;
  width: 950px;
}