.keywords-list {
  float: left;
  width: 240px;
  height: 350px;
  padding: 10px 0;
  margin-right: 10px;
  background-color: #666;
}
.keywords-list .keywords-item {
  padding-left: 10px;
  height: 35px;
  line-height: 35px;
  font-size: 14px;
  cursor: pointer;
}
.keywords-list .keywords-item .link {
  color: #fff;
  margin-right: 5px;
}
.keywords-list .keywords-item .link:hover {
    color: #c60023;
  }
.keywords-list .keywords-item:hover {
  background: #999;
}
.banner-con {
  width: 830px;
  height: 370px;
  float: left;
  background: pink;
}
.floor-warp .floor-list {
    overflow: hidden;
  margin-right: -20px;
}
.floor-warp .floor-title {
  height: 50px;
  line-height: 50px;
  color: #d58717;
  font-weight: normal;
  border-bottom: solid 1px #d58717;
}
.floor-warp .floor-item {
  padding-top: 10px;
  float: left;
  width: 200px;
  height: 220px;
  cursor: pointer;
  background-color: #fff;
  margin: 15px 20px 15px 0;
}
.floor-warp .floor-item .floor-text {
  padding-left: 20px;
  font-size: 16px;
  color: #555;
}
.floor-warp .floor-item .img-floor {
  width: 80%;
  height: 75%;
  margin: 10px auto 0;
  border: solid 1px #ccc;
}